html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #333;
}

.header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.dlaheader__inner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.menu {
    display: flex;
    gap: 35px;
    align-items: center;
    color: #fff;
    padding-left: 70px;
    padding-right: 50px;
}

.inputsubscribe {
    display: flex;
    align-items: center;
}

.menu_inputmail {
    display: flex;
    max-width: 200px;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
}

.menu_buttoninput {
    display: flex;
    text-align: center;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    color: #EF2779;
    margin-left: 12px;
}

.main-img {
    /* margin-left: 30px; */
    width: 100%;
    background: rgba(0, 0, 0, 0.00);
    box-shadow: 0px 9.861px 131.474px 0px rgba(173, 173, 173, 0.23), 0px 9.861px 19.721px 0px rgba(173, 173, 173, 0.16);
}

.titletextmain {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    width: 40%;
}

.main__inner {
    display: flex;
    margin-top: 90px;
    color: #fff;
    font-size: 45px;
    margin-right: 40px;
    margin-bottom: 200px;
}

.main__inner__img{
    width: 60%;
}
.main__inner-title {
    max-width: 400px;
    margin-left: 75px;
}

.main__inner-text {
    font-size: 18px;
    margin-top: 27px;
    max-width: 350px;
    margin-left: 75px;
}

.menublock_buttoninput {
    display: flex;
    justify-content: space-around;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    color: #38A3F1;
    margin-left: 75px;
    max-width: 230px;
    margin-top: 40px;
    font-weight: 700;
    align-items: center;
}

.block2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.block2__inner-text {
    color: #fff;
}

.block2-text1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.block3__inner-item {
    color: #fff;
}

.block2text2 {
    font-size: 50px;
    max-width: 360px;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 28px;
}

.block2text3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    max-width: 320px;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
}

.blockicon {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-bottom: 100px;
}

.icontitle {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}

.titleicon {
    max-width: 187px;
    font-size: 18px;
}

.texticon {
    max-width: 255px;
}

.menublock4_buttoninput {
    display: flex;
    justify-content: space-around;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    color: #38A3F1;
    margin-left: 75px;
    max-width: 230px;
    font-weight: 700;
    align-items: center;
    margin: auto;
}

.block5__inner-item {
    display: flex;
    justify-content: center;
}

.laptop {
    margin-top: 110px;
    margin-bottom: 130px;
    max-width: 700px;
}

.block6__inner-item {
    color: #fff;
}

.block7__inner-item {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.block7__inner-item1 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-top: 60px;
}

.block7_1 {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block7_2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgblock7 {
    height: 90px;
    max-width: 90px;
    margin-bottom: 35px;
}

.opis {
    text-align: center;
    max-width: 200px;
    font-size: 18px;
    font-weight: 400;
}

.name {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 25px;
}

.nacisk {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.menublock7_buttoninput {
    display: flex;
    justify-content: center;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    color: #38A3F1;
    margin-left: 75px;
    max-width: 230px;
    font-weight: 700;
    align-items: center;
    margin: auto;
}

.title-text {
    color: #fff;
    margin-top: 130px;
}

.blocks1 {
    background-color: #424242;
    border-radius: 30px;
    max-width: 335px;
    height: 325px;
    color: #fff;
    box-shadow: 13px 13px 19px 13px rgba(196, 196, 196, 0.06);
    margin-bottom: 120px;
}

.block__footer-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.blocks1_business {
    background: linear-gradient(#424242, #666666);;
    border-radius: 30px;
    max-width: 335px;
    height: 325px;
    color: #fff;
    box-shadow: 13px 13px 19px 13px rgba(165, 165, 165, 0.08);
}

.menublock8_buttoninput {
    display: flex;
    justify-content: center;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    color: #38A3F1;
    margin-left: 75px;
    max-width: 225px;
    font-weight: 700;
    align-items: center;
    margin: auto;
} 

.blocks1-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.titletextblocks {
    display: flex;
}

.blocks1-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.blocks1-text {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 40px;
}

.blocks1-title1 {
    font-size: 55px;
    font-weight: 900;
    margin-right: 12px;
}

.blocks1-title2 {
    font-size: 55px;
    font-weight: 900;
    margin-right: 12px;
}

.titletext1bl {
    margin-top: 10px;
}

.blocks1-text1 {
    font-size: 22px;
    font-weight: 700;
}

.blocks1-text2 {
    font-size: 12px;
    font-weight: 700;
}

.block8__inner-itemblocks {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block9__inner {
    display: flex;
    justify-content: center;
}

.block__inner-left {
    border-radius: 13px;
    border: 0.6px solid #363636;;
    background: #424242;;
    display: flex;
    max-width: 400px;
    height: 430px;
    padding: 21px 41px;
    box-shadow: 0px 8.498px 12.42px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 120px;
}

.inputname {
    max-width: 318px;
    height: 35px;
    padding: 19px 13px;
    margin-top: 53px;
    border-radius: 3px;
    border: 1px solid #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
}

.inputmail {
    max-width: 318px;
    height: 35px;
    padding: 19px 13px;
    border-radius: 3px;
    border: 1px solid #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
}

.Notatka {
    background: #f5f5f5;
    color: #151515;
    font-family: 'Montserrat', sans-serif;
    height: 126px;
    padding-left: 13px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #fff;
    width: 100%;
    height: 150px;
    padding: 8px 13px;
    border-radius: 4px;
    resize: none;
}

.block__inner-left-item {
    display: flex;
    flex-direction: column;
}

.menublock9_buttoninput {
    display: flex;
    justify-content: center;
    padding: 16px 27px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    background: #EFEFEF;
    color: #38A3F1;
    max-width: 94px;
    font-weight: 700;
    align-items: center;
} 

.block__inner-left-item {
    gap: 31px;
}

.block__inner-right-item {
    margin-left: 80px;
    margin-top: 75px;
}

.icon__vverh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
}

.iconniz {
    display: flex;
    gap: 12px;
}

.textlast {
    max-width: 238px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-left: 20px;
}

.iconverh1 {
    display: flex;
}

.backgroundfooter {
    background-color: #292828;
}

.footer {
    display: flex;
    justify-content: center;
    height: 350px;
}

.block__footer_1 {
    color: #fff;
    margin-right: 23px;
}

.block__footer_1-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.block__footer_1-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 190px;
}

.map {
    max-width: 470px;
    height: 230px;
    margin-left: 40px;
    border-radius: 10px;
}

.block__footer-all {
    display: flex;
}

.block__inner-left-item1 {
    gap: 15px;
}

.block__inner-right-item1 {
    margin-left: 40px;
    margin-top: 18px;
}

.icon__vverh1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
}

.iconniz1 {
    display: flex;
    gap: 8px;
}

.header_wrap{
    width: 100%;
}
.textlast1 {
    max-width: 116px;
    font-size: 8px;
    font-weight: 400;
    color: #fff;
    margin-left: 10px;
}

.iconverh12 {
    display: flex;
}

.container {
    max-width: 1280px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 15px;
}

@media (max-width: 1280px) {
    .container {
        justify-content: center;
        align-items: center;
        width: 1040px;
    }

    .dlaheader__inner {
        width: 1040px;
    }

    .main {
        justify-content: center;
        align-items: center;
        width: 1040px;
    }
    .main__inner {
        width: 1040px;
        justify-content: center;
        align-items: center;
        margin-left: 99px;
    }
    .main-img {
        /* margin-left: -59px; */
    }
}

@media (max-width: 1040px) {
    .container {
        width: 768px;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 768px;
        justify-content: center;
        align-items: center;
    }
    .main__inner {
        width: 768px;
        justify-content: center;
        align-items: center;
    }

    .dlaheader__inner {
        width: 768px;
    }
}